.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-443446.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    z-index: 100;
}

.recaptcha {
    position: relative;
    z-index: 999;
}

.slogin_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}